<section class="text-wrap">
    <table class="table-auto">
        <tr>
            <th class="pr-4 pb-4 text-left">Who am I</th>
            <td class="pb-4">
                I'm a software engineer, specialize in Front-end developer.
            </td>
        </tr>
        <tr>
            <th class="pr-4 pb-4 text-left">Education</th>
            <td class="pb-4">
                I have a degree in telematics engineering from the University of
                Valencia. Also, I studied a course in Czestochowa, Poland
                (Politechnika Czestochowa).
            </td>
        </tr>
        <tr>
            <th class="pr-4 pb-4 text-left">Experience</th>
            <td class="pb-4">
                With <span class="text-sky-300">
                    more than a year of experience at Capgemini as a full-stack
                    developer
                </span>, I have mainly specialized in front-end development. My
                background includes an outstanding period as a
                <span class="text-sky-300">
                    front-end developer at Denmark
                </span>
                's largest telecommunications company, where I contributed to the
                development of innovative solutions while working in Denmark.
            </td>
        </tr>
        <tr>
            <th class="pr-4 pb-4 text-left">Work History</th>
            <td class="pb-4 flex flex-col">
                <p>
                    <span class="font-bold text-sky-300">
                        JUNIOR SOFTWARE ENGINEER
                    </span>
                    - Capgemini
                </p>
                <date class="text-sm mb-2 text-gray-500">
                    March 2023 - Present · 11 months
                </date>
                <p>
                    <span class="font-bold">
                        CLOUD & CUSTOM APPLICATIONS INTERN - Capgemini
                    </span>
                </p>
                <date class="text-sm mb-2 text-gray-500">
                    June 2022 - December 2022 · 7 months
                </date>
            </td>
        </tr>
    </table>
</section>
