---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "march 2023 - present · 11 months",
        title: "JUNIOR SOFTWARE ENGINEER - Capgemini",
        description: [
            "• Incident management and Small Works/Tasks in Aarhus, Denmark (React, TypeScript).",
            "• Internal project development (Angular, GitLab).",
        ],
    },
    {
        date: "june 2022 - december 2022 · 7 months",
        title: "CLOUD & CUSTOM APPLICATIONS INTERN - Capgemini",
        description: [
            "• Web development using SQL developer, Java and JavaScript.",
            "• CRUD in React and Angular.",
            "• Git management.",
            "• Activity management in JIRA.",
            "• Massive data insertion in PostgreSQL.",
        ],
    },
];
---

<ol class="relative border-s dark:border-gray-200 border-gray-700 ml-2">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
